.banner {
    width: 100%;
    height: 352px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url("../img/Banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.banner__container {
    width: 1136px;
    margin: 0 auto;
}

.banner__titulo {
    color: var(--font-contraste);
    font-size: 3.25rem;
    margin: 0 0 1rem 0;
    font-style: normal;
    font-weight: 700;
}

.banner__parrafo {
    color: var(--font-contraste);
    font-size: 1.375rem;
    margin: 0 0 1rem 0;
}

.banner__boton {
    margin: 0 0 2rem 0;
}

@media screen and (max-width: 1420px) {
    .banner__container {
        width: 944px;

    }

}

@media screen and (max-width: 1101px) {
    .banner__container {
        width: 752px;

    }

}

@media screen and (max-width: 1024px) {
    .banner__boton {
        height: 2.5rem;
    }
}

@media screen and (max-width: 768px) {
    .banner {
        height: 50vw;
        max-height: 352px;
        min-height: 192px;
    }

    .banner__container {
        width: 368px;

    }

    .banner__titulo {
        font-size: 1.375rem;
    }

    .banner__parrafo {
        font-size: 0.875rem;
    }

    .banner__boton {
        font-size: 0.875rem;
    }
}

@media screen and (max-width: 400px) {
    .banner__container {
        width: 336px;
    }
}