.productos__contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 1.5rem 1rem;
    justify-content: flex-start;
    width: 1136px;
}

@media screen and (max-width: 1420px) {
    .productos__contenedor {
        width: 944px;
    }

}

@media screen and (max-width: 1101px) {
    .productos__contenedor {
        width: 752px;
    }
}


@media screen and (max-width: 768px) {
    .productos__contenedor {
        width: 368px;
    }
}

@media screen and (max-width: 400px) {
    .productos__contenedor {
        width: 336px;

    }
}