.producto {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 252px;
    padding: 0px;
    width: 176px;
    overflow: hidden;
}

.producto__imagen {
    object-fit: cover;
    height: 174px;
    width: 100%;
    object-fit: cover;
    
}

.producto__edit {
    position: absolute;
    margin: 10px 0px 0px 115px;
    width: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    color: white;

}

.fa-trash {
    opacity: 1;

}

.fa-trash:hover {
    opacity: 1;
    scale: 1.2;
    cursor: pointer;
    -webkit-text-stroke: 1px black;
}

.fa-pen {
    opacity: 1;
    color: white;
}

.fa-pen:hover {
    opacity: 1;
    scale: 1.2;
    cursor: pointer;
    -webkit-text-stroke: 1px black;
}

.producto__nombre {
    color: var(--font-color);
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 16px;
    overflow: hidden;
    width: 100%;
}

.producto__precio {
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 19px;
}

.producto__boton {
    border: none;
    color: var(--azul-destaque);
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 19px;
    padding: 0;
    background: var(--fondo-productos);
}

@media screen and (max-width: 1420px) {
    .producto__inicio:nth-child(6) {
        display: none;  
    }

}

@media screen and (max-width: 1101px) {
    .producto__inicio:nth-child(5) {
        display: none;  
    }

}

@media screen and (max-width: 1100px) {
    .producto__inicio:nth-child(5) {
        display: none;  
    }

}

@media screen and (max-width: 400px) {
    .producto {
        width: 160px;
    }

    .producto__edit {
        margin: 10px 0px 0px 100px;
    }

}